
<input type="text" #name>
<button (click)="adddata(name.value)">Add</button>

<ul *ngFor="let val of datas">
  {{val.name}} <button (click)="removedata(val.id)">Remove</button>

</ul>
<br>
<button class="btn btn-success" (click)="changeSub()">Test</button><br>

Data is {{parentdata}}
<app-child-1></app-child-1>
<app-child-2></app-child-2>

<form [formGroup]="userForms">
  <div class="form-group">
    <input type="text" required formControlName="usernames" class="form-control">
    <span style="color:red" *ngIf="usernames && usernames.invalid">Username Error</span>
  </div>
  <div class="form-group">
    <input type="text" required formControlName="email" class="form-control">
    <span style="color:red">Email Error</span>

  </div>
  <div class="form-group">
<button class="btn btn-success">Click</button>
  </div>
</form>